/* --------------------------------
	-Sistema de grids IzzyWeb  
	-Autor: Joanez Andrades
	-12/08/2015

----------------------------------- */

.container{
	width: 100%;
}

/*--- Grades ---
	*As grades foram divididas em 10x100;
	*Não temos margens entre as grades;
	*O objetivo das grades é separar o conteúdo sem perda de espaço;
	*A ideia principal das grades é usá-las como container para as colunas;
*/
.grd-100, 
.grd-90, 
.grd-80,
.grd-70,
.grd-60,
.grd-50,
.grd-40,
.grd-30,
.grd-20,
.grd-10{
	float: left;
	display: inline;
}
.grd-100{width: 100%;}
.grd-90{width: 90%;}
.grd-80{width: 80%;}
.grd-70{width: 70%;}
.grd-60{width: 60%;}
.grd-50{width: 50%;}
.grd-40{width: 40%;}
.grd-30{width: 30%;}
.grd-20{width: 20%;}
.grd-10{width: 10%;}


/*--- Colunas ---
	*As colunas foram divididas em 10x100;
	*Cada coluna tem .25% dos 100% de margem na direita e na esquerda;
	*Essa margem, obviamente, é .25% do tamanho da tag PAI;
	*O tamanho de cada coluna debita essa margem;
*/

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10{
	float: left;
	display: inline;
	margin-left: .25%;
	margin-right: .25%;
}

.col-1{
	width: 99.5%;
}

.col-2{
	width: 49.5%
}

.col-3{
	width: 32.8%;
}

.col-4{
	width: 24.5%;
}

.col-5{
	width: 19.5%;
}

.col-6{
	width: 16.16%;
}

.col-7{
	width: 13.78%;
}

.col-8{
	width: 12%;
}

.col-9{
	width: 10.6%;
}

.col-10{
	width: 9.5%;
}